In [1]:
import pandas as pd
import networkx as nx

In [3]:
# Saccharomyces cerevisiae

string_df_4932 = pd.read_csv("organismos_string/4932_protein.txt", sep=" ")
string_df_4932

             protein1        protein2  combined_score
0          4932.Q0010    4932.YPL135W             347
1          4932.Q0010      4932.Q0017             945
2          4932.Q0010    4932.YOL103W             163
3          4932.Q0010    4932.YJR122W             528
4          4932.Q0010    4932.YGL043W             284
...               ...             ...             ...
1988587  4932.YPR204W  4932.YPR137C-A             169
1988588  4932.YPR204W  4932.YDR316W-A             282
1988589  4932.YPR204W    4932.YDR215C             315
1988590  4932.YPR204W    4932.YAL017W             152
1988591  4932.YPR204W  4932.YBR012W-B             280

[1988592 rows x 3 columns]

In [4]:
# Caenorhabditis elegans

string_df_6239 = pd.read_csv("organismos_string/6239_protein.txt", sep=" ")
string_df_6239

                protein1         protein2  combined_score
0            6239.2L52.1     6239.F44C8.3             178
1            6239.2L52.1     6239.ZC416.4             285
2            6239.2L52.1     6239.C41G7.2             189
3            6239.2L52.1    6239.C16C2.3a             191
4            6239.2L52.1     6239.C06E2.3             202
...                  ...              ...             ...
8963323  6239.cTel55X.1b     6239.ZK829.2             188
8963324  6239.cTel55X.1b  6239.Y73B6BL.28             153
8963325  6239.cTel55X.1b     6239.T20F5.2             351
8963326  6239.cTel55X.1b    6239.T25G12.5             167
8963327  6239.cTel55X.1b   6239.C01G10.12             218

[8963328 rows x 3 columns]

In [5]:
# Danio rerio

string_df_7955 = pd.read_csv("organismos_string/7955_protein.txt", sep=" ")
string_df_7955

                         protein1                 protein2  combined_score
0         7955.ENSDARP00000000004  7955.ENSDARP00000018371             273
1         7955.ENSDARP00000000004  7955.ENSDARP00000124436             177
2         7955.ENSDARP00000000004  7955.ENSDARP00000024612             406
3         7955.ENSDARP00000000004  7955.ENSDARP00000032337             211
4         7955.ENSDARP00000000004  7955.ENSDARP00000024204             154
...                           ...                      ...             ...
22592423  7955.ENSDARP00000129874  7955.ENSDARP00000126396             175
22592424  7955.ENSDARP00000129874  7955.ENSDARP00000024082             321
22592425  7955.ENSDARP00000129874  7955.ENSDARP00000055384             179
22592426  7955.ENSDARP00000129874  7955.ENSDARP00000113219             454
22592427  7955.ENSDARP00000129874  7955.ENSDARP00000118390             241

[22592428 rows x 3 columns]

In [6]:
# Mus Musculus

string_df_10090 = pd.read_csv("organismos_string/10090_protein.txt", sep=" ")
string_df_10090

                          protein1                  protein2  combined_score
0         10090.ENSMUSP00000000001  10090.ENSMUSP00000031145             161
1         10090.ENSMUSP00000000001  10090.ENSMUSP00000071486             208
2         10090.ENSMUSP00000000001  10090.ENSMUSP00000119330             183
3         10090.ENSMUSP00000000001  10090.ENSMUSP00000066449             259
4         10090.ENSMUSP00000000001  10090.ENSMUSP00000061539             229
...                            ...                       ...             ...
14496353  10090.ENSMUSP00000141183  10090.ENSMUSP00000130793             150
14496354  10090.ENSMUSP00000141183  10090.ENSMUSP00000135905             150
14496355  10090.ENSMUSP00000141183  10090.ENSMUSP00000139505             248
14496356  10090.ENSMUSP00000141183  10090.ENSMUSP00000048340             211
14496357  10090.ENSMUSP00000141183  10090.ENSMUSP00000043120             199

[14496358 rows x 3 columns]

In [8]:
# Drosophila melanogaster

string_df_7227 = pd.read_csv("organismos_string/7227_protein.txt", sep=" ")
string_df_7227

                 protein1          protein2  combined_score
0        7227.FBpp0070001  7227.FBpp0293850             150
1        7227.FBpp0070001  7227.FBpp0087873             152
2        7227.FBpp0070001  7227.FBpp0079990             167
3        7227.FBpp0070001  7227.FBpp0080090             298
4        7227.FBpp0070001  7227.FBpp0075453             446
...                   ...               ...             ...
4343793  7227.FBpp0306233  7227.FBpp0080342             334
4343794  7227.FBpp0306233  7227.FBpp0080913             595
4343795  7227.FBpp0306233  7227.FBpp0080607             676
4343796  7227.FBpp0306233  7227.FBpp0081073             783
4343797  7227.FBpp0306233  7227.FBpp0289540             491

[4343798 rows x 3 columns]

In [10]:
# Schistossoma Mansoni

string_df_6183 = pd.read_csv("organismos_string/6183_protein.txt", sep=" ")
string_df_6183

                  protein1           protein2  combined_score
0        6183.Smp_000020.1  6183.Smp_128600.1             173
1        6183.Smp_000020.1  6183.Smp_128770.1             258
2        6183.Smp_000020.1  6183.Smp_153590.1             154
3        6183.Smp_000020.1  6183.Smp_009990.1             238
4        6183.Smp_000020.1  6183.Smp_106080.1             296
...                    ...                ...             ...
3204857  6183.Smp_900110.1  6183.Smp_033610.1             991
3204858  6183.Smp_900110.1  6183.Smp_038330.1             393
3204859  6183.Smp_900110.1  6183.Smp_039000.1             332
3204860  6183.Smp_900110.1  6183.Smp_166680.1             327
3204861  6183.Smp_900110.1  6183.Smp_153150.1             250

[3204862 rows x 3 columns]

## Funções dos grafos

In [ ]:
protein_map = { v:k for k, v in enumerate(set(protein_interaction_df.loc[:, "protein1"]).union(
    set(protein_interaction_df.loc[:, "protein2"]))) }

protein_map

In [ ]:
def mapProtein(protein_interaction_df, protein_map):
    
    protein_interation_masked = protein_interaction_df.replace(
        {"protein1": protein_map, "protein2": protein_map}
    )
    return protein_interation_masked

In [ ]:
def generateGraphDF():

    # Gerar grafo a partir do mapeamento do dataframe do Pandas
    protein_interaction_graph = nx.from_pandas_edgelist(
        protein_interation_masked, 
        source = "protein1", 
        target = "protein2"
    )
    
    # Gerar dataframe a partir do Pandas
    graph = nx.to_pandas_edgelist(protein_interaction_graph)
    
    return graph